.login__background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 4rem 0rem;
}

.login__sideimg {
  border: 2px solid var(--clr-white);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.login__sideimg > img {
  animation: float 3s ease-in-out infinite;
}

.login__sideimg,
.login__form {
  width: 50%;
}
.loginpage__wrapper {
  display: flex;
  gap: 2rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__switcher {
  width: 376px;
  height: 66.82px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border-radius: 33px;
  background-color: var(--clr-light);
}

.switcherbtn {
  width: 150px;
  height: 45px;
  border-radius: 33px;
  font-size: 1.2rem;
  color: var(--clr-dark-2);
}

.switcherbtn__active {
  background-color: var(--clr-dark-1);
  color: var(--clr-white);
  transition: all 0.5s linear;
}

.auth_lable {
  color: whitesmoke;
}

.auth_input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* for 2xl   */
/* @media (max-width: 1536px) {
  
} */

/* for xl   */

/* for large */
@media (max-width: 1024px) {
  .login__sideimg {
    height: 700px;
  }
}

/* for medium */
@media (max-width: 768px) {
  .loginpage__wrapper {
    flex-direction: column-reverse;
  }

  .login__sideimg,
  .login__form {
    width: 100%;
  }
}

/* for small */
@media (max-width: 640px) {
  .login__sideimg {
    height: 500px;
  }
}

/* for extra small */
@media (max-width: 400px) {
  .login__switcher {
    width: 100%;
  }

  .login__sideimg {
    height: 300px;
  }

  .switcherbtn {
    width: 120px;
  }

  .loginbtn {
    margin-top: 1rem;
  }
}
