/* sidebar css */

.sidebar {
  width: 25%;
  background-color: #9e896a;
  padding: 2rem;
}

.sidebar__heading {
  color: var(--clr-white);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.5rem;
}

.copytoclipboared {
  padding: 0.5rem;
  background-color: #d9d9d9;
  color: var(--clr-dark-2);
  border-radius: 8px;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profilelink__id {
  font-size: 1rem;
}

.sidebar__userinfo {
  margin-top: 4rem;
}

.userinfo {
  color: var(--clr-white);
  font-size: 1.4rem;
  margin-top: 1rem;
}

.socialmedilinks {
  margin-top: 4rem;
}

.socialmedilinks > h3 {
  color: var(--clr-white);
}

.socialmedilinks__icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.logoutbtn {
  margin-top: 1rem;
}

/* for 2xl   */
@media (max-width: 1536px) {
  .copytoclipboared {
    margin-top: 1rem;
  }

  .sidebar {
    width: 30%;
    padding-inline: 1rem;
    padding-top: 2rem;
  }

  .sidebar__heading {
    font-size: 2rem;
  }
}

/* for xl   */
@media (max-width: 1280px) {
  .sidebar {
    width: 40%;
    border-radius: 0px;
  }
}

/* for large */
@media (max-width: 1024px) {
  .sidebar {
    width: 100%;
    padding-inline: 1rem;
    padding-top: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
}

/* for medium */
/* @media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
} */

/* for small */
/* @media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
} */

/* for extra small */
/* @media (max-width: 400px) {
  .container {
    width: 100%;
  }
} */
