.profilebackground {
  background: linear-gradient(to right, var(--clr-light) 75%, #9e896a 10%);
}

.profile__wrapper {
  display: flex;
  gap: 4rem;
  background-color: var(--clr-light);
}

.userprofile {
  width: 75%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.profileimg {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 4px solid var(--clr-dark-2);
}

.profile__info__wrapper {
  display: flex;
  justify-content: space-between;
}

.profile__info {
  display: flex;
  align-items: center;

  gap: 2rem;
  position: relative;
}

.profile__info__summary {
  margin-top: 1rem;
}

.userprofile__gallery {
  margin-bottom: 4rem;
}

.gallery__images {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.gorsitrademarklogo {
  width: 250px;
  height: 250px;
  opacity: 0.3;
  background-image: url("/trademarkgorsi.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: float 3s ease-in-out infinite;
}

.editButton {
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.editbtntext {
  font-size: 1.1rem;
  margin-top: 0.4rem;
  color: var(--clr-dark-2);
}

/* for 2xl   */
@media (max-width: 1536px) {
  .userprofile {
    width: 70%;
  }
}

/* for xl   */
@media (max-width: 1280px) {
  .profileimg {
    width: 200px;
    height: 200px;
  }

  .gorsitrademarklogo {
    width: 200px;
    height: 200px;
  }
}

/* for large */
@media (max-width: 1024px) {
  .profile__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .profilebackground {
    background: var(--clr-light);
  }

  .userprofile {
    width: 100%;
    gap: 4rem;
  }
}

/* for medium */
/* @media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
} */

/* for small */
@media (max-width: 640px) {
  .profileimg {
    width: 180px;
    height: 180px;
  }

  .gorsitrademarklogo {
    position: absolute;
    top: 9rem;
    right: 2rem;
    width: 150px;
    height: 150px;
  }

  .profile__info {
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .editButton {
    align-self: flex-end;
  }
}

/* for extra small */
@media (max-width: 400px) {
  .gallery__images {
    flex-direction: column;
    align-items: flex-start;
  }

  .gorsitrademarklogo {
    right: 0rem;
  }

  .profile__info__wrapper {
    flex-direction: column;
  }
}
