.modalbox {
  width: 660px;
  max-height: 660px;
  border: 2px solid var(--clr-dark-2);
  padding: 2rem;
  background-color: var(--clr-white);
  border-radius: 10px;
  overflow-y: scroll;

  box-shadow: 0px -2px 25px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px -2px 25px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -2px 25px 2px rgba(0, 0, 0, 0.3);
}

.modalheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalhr {
  margin-top: 1rem;
  border: 1px solid var(--clr-dark-2);
}

.modalfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.savebtn {
  color: var(--clr-white);
  background-color: var(--clr-dark-2);
}

.modalbody__profile {
  margin-top: 2rem;
}

.modal-lable {
  color: var(--clr-dark-2);
}

.modal-input {
  margin-bottom: 2rem;
  margin-top: 0.3rem;
}

.modalbody {
  margin-top: 2rem;
}

.imagecomponent__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* for 2xl   */
/* @media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
} */

/* for xl   */
/* @media (max-width: 1280px) {
   .container {
    max-width: 1024px;
  }
} */

/* for large */
/* @media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
} */

/* for medium */
@media (max-width: 768px) {
  .modalbox {
    width: 600px;
  }

  .imagecomponent__wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

/* for small */
@media (max-width: 640px) {
  .modalbox {
    width: 90%;
    margin-top: 1rem;
  }
}

/* for extra small */
/* @media (max-width: 400px) {
  .container {
    width: 100%;
  }
} */
