/* for 2xl   */
/* @media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
} */

/* for xl   */
/* @media (max-width: 1280px) {
   .container {
    max-width: 1024px;
  }
} */

/* for large */
/* @media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
} */

/* for medium */
/* @media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
} */

/* for small */
/* @media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
} */

/* for extra small */
/* @media (max-width: 400px) {
  .container {
    width: 100%;
  }
} */

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes l3 {
  50% {
    left: 100%;
    transform: translateX(calc(-100% - 4px));
  }
}

.container {
  max-width: 1536px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.heading__h1 {
  font-size: 4rem;
  font-weight: 800;
}

.heading__h2 {
  font-size: 3rem;
  font-weight: 500;
}

.heading__h3 {
  font-size: 2rem;
  font-weight: 500;
}

.heading__h4 {
  font-size: 1.8rem;
  font-weight: 800;
}

.paragraph {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  background-color: var(--clr-dark-1);
  color: white;
  padding-inline: 3rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  border-radius: 6px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 10px rgb(88, 87, 84), 0 4px 10px rgb(80, 80, 79),
    0 0 100px -10px var(--clr-dark-1);
}

.transparent__btn {
  border: 2px solid var(--clr-dark-2);
  text-align: center;
  padding: 0.8rem 3rem;
  border-radius: 6px;
  font-size: 1.2rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.transparent__btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 10px rgb(88, 87, 84), 0 4px 10px rgb(80, 80, 79),
    0 0 100px -10px var(--clr-dark-1);
}

.fullbackground {
  width: 100%;
}

.clipboardicon {
  width: 1.6rem;
  color: blue;
}

/* form css */

.form-container {
  display: flex;
  flex-direction: column;
  padding-inline: 4rem;
  width: 100%;
  margin-top: 4rem;
  animation: fade-in-bottom 0.5s linear 0s 1 normal none;
}

.form-label {
  font-size: 1.2rem;
}

.form-input {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-input:focus {
  border: none;
  outline: none;
}

.forgot-password {
  text-align: right;
  cursor: pointer;
  color: var(--clr-white);
  margin-top: 1rem;
}

.loginbtn {
  width: 200px;
  margin-left: auto;
  margin-top: 2rem;
}

.error {
  color: #ef5350;
  font-size: 1.1rem;
  text-transform: capitalize;
  text-align: right;
}

.input-error {
  border: 4px solid #ef5350;
}

.loader__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: var(--clr-dark-2);
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  background: currentColor;
  animation: l3 1s infinite linear;
}

/* for 2xl  */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
  .heading__h1 {
    font-size: 3.5rem;
  }

  .heading__h4 {
    font-size: 1.5rem;
  }
}

/* for xl   */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .heading__h1 {
    font-size: 3rem;
  }

  .heading__h2 {
    font-size: 2.3rem;
  }

  .paragraph {
    font-size: 1.1rem;
  }

  .form-container {
    padding-inline: 2rem;
  }
}

/* for large */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .heading__h1 {
    font-size: 2.3rem;
  }

  .heading__h2 {
    font-size: 1.8rem;
  }

  .heading__h3 {
    font-size: 1.4rem;
  }

  .heading__h4 {
    font-size: 1.2rem;
  }
}

/* for medium */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .heading__h1 {
    font-size: 1.9rem;
  }
}

/* for small */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .heading__h1 {
    font-size: 2rem;
  }
}

/* for extra small */
@media (max-width: 475px) {
  .container {
    width: 100%;
    padding-inline: 1rem;
  }

  .heading__h1 {
    font-size: 1.6rem;
  }

  .heading__h2 {
    font-size: 1.4rem;
  }
  .form-container {
    padding-inline: 0rem;
  }

  .transparent__btn {
    padding: 0.5rem 1.8rem;
  }
}
