@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fullbackground {
  background-color: var(--clr-dark-2);
}

.header__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.header__links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header__logo {
  font-size: 2rem;
  font-weight: 500;
  color: whitesmoke;
  animation: focus-in-contract 1s linear 0s 1 normal none;
}

Link {
  color: whitesmoke;
}

.header__links > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: whitesmoke;
  font-weight: 500;
}

.header__burgerbtn {
  display: none;
}

.header__profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}

.header__profile__img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid var(--clr-dark-1);
}

.mobile_nav {
  display: none;
}

.desktop__nav {
  display: block;
}

.authbtn {
  width: 90px;
  height: 40px;
  font-size: 1.1rem;
  background-color: var(--clr-dark-1);
  border-radius: 6px;
}

/* for large */
@media (max-width: 1024px) {
  .header__logo {
    font-size: 2rem;
    font-weight: 500;
  }
}

/* for medium */
/* @media (max-width: 768px) {} */

/* for small */
@media (max-width: 640px) {
  .desktop__nav {
    display: none;
  }

  .mobile_nav {
    display: block;
  }

  .header__burgerbtn {
    display: inline-block;
    width: 3rem;
    margin-top: 0.2rem;
    cursor: pointer;
    color: whitesmoke;
  }

  .mobile-nav {
    width: 40%;
    position: absolute;
    top: 5rem;
    right: 0.4rem;
    display: block;
    margin-right: auto;
    border-radius: 10px;
    background-color: var(--clr-dark-2);
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fade-in-top 0.3s linear 0s 1 normal none;
    z-index: 99;
  }

  .profiletopbtn > button {
    font-size: 0.8rem;
  }
}

/* for extra small */
@media (max-width: 470px) {
  .header__element {
    padding: 0.3rem;
  }

  .header__links {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header__logo {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .header__burgerbtn {
    padding-top: 0.4rem;
    display: inline-block;
    width: 3rem;
  }
}
